/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar-inverse .navbar-brand {
    color: #ededed;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ededed;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.built_on_BOS {
    background: #ebebeb;
    z-index: 9999;
    width: 100vw;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: right;
    padding-right: 22px;
}

    .built_on_BOS span {
       margin-top:15px;
    }

    .built_on_BOS a {
        color: #000;
    }

        .built_on_BOS a img {
            height: 16px;
            vertical-align: middle;
            margin-top: 5px;
        }
